body{
    margin:0;
    font-family:"M PLUS Rounded 1c",sans-serif;
    background:#FFF8F2;
    color:#5d4037;
}

header{
    background:#e99b77;
    color:white;
    padding:20px;
    text-align:center;
    font-size:28px;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.container{
    max-width:1100px;
    margin:auto;
    padding:30px;
}

.big-button{
    width:100%;
    padding:30px;
    border:none;
    border-radius:30px;
    font-size:28px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    margin-bottom:20px;
}

.big-button:hover{
    transform:scale(1.03);
}

.send{
    background:#FFD7A8;
}

.box{
    background:#CBECC8;
}
