*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'M PLUS Rounded 1c',sans-serif;
    background:#fdf6f0;
    color:#5d4037;
}

.header{
    background:#e99b77;
    color:white;
    text-align:center;
    padding:25px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.header h1{
    font-size:2.2rem;
    font-weight:800;
}

.header p{
    margin-top:5px;
}

.container{
    max-width:700px;
    margin:40px auto;
    padding:20px;
}

.big-button{
    width:100%;
    padding:28px;
    margin:20px 0;
    border:none;
    border-radius:25px;
    font-size:1.5rem;
    font-weight:bold;
    cursor:pointer;
    transition:.2s;
}

.big-button:hover{
    transform:scale(1.03);
}

.send{
    background:#FFD180;
}

.box{
    background:#A5D6A7;
}
